/* BEGIN-ART-DECOR-EXTRA-CSS */
/** 
    Special CSS definitions to print PDF 
    ******************************
    Copyright (C) 2013-2017 ART-DECOR expert group art-decor.org
    
    Author: Kai U. Heitmann
*/
@media print{
    .navbox,
    .navbar,
    .foundationSidebar{
        display: none;
    }
}
/* the following CSS is for NON print media only */
@media screen, handheld{
/* source text (geshi) code font a little bit larger */
    .ppcode{
        font-size: 1.1em;
    }
    /* as this is a screen CSS, some CSS for printed documents */
    div.print-document-information{
        display: none;
    }
    .print-document-logohead{
        display: none;
    }
    .print-only{
        display: none;
    }
}
/** 
    Special CSS definitions to correctly style ART-DECOR® artefacts 
    ******************************
    Copyright (C) 2013-2017 ART-DECOR expert group art-decor.org
    
    Author: Kai U. Heitmann
*/
table.artdecor{
    border-spacing: 3px;
    -webkit-border-horizontal-spacing: 3px;
    -webkit-border-vertical-spacing: 3px;
    /*border-collapse: separate;*/
}
table.artdecor,
table.artdecor tr,
table.artdecor td,
table.artdecor th,
table.artdecor p{
    font-size: 12px;
    font-weight: normal;
    color: #333;
    padding: 5px;
}
table.artdecor tr > table.artdecor tr,
table.artdecor td > table.artdecor td,
table.artdecor th > table.artdecor th{
    padding: 3px !important;
    border-spacing: 3px !important;
    -webkit-border-horizontal-spacing: 3px !important;
    -webkit-border-vertical-spacing: 3px !important;
}
table.artdecor pre{
    font-size: 11px;
}
table.artdecor th{
    background-color: #ece9e4;
    color: #7a6e62;
    font-weight: bold;
}
tr.explabel{
    background-color: #E6E6FA;
}
td.explabelred{
    background-color: #FFEEEE;
}
td.explabelgreen{
    background-color: #E0FFE0;
}
td.explabelblue{
    background-color: #E6E6FA;
}
td.conf{
    width: 107pt;
    font-size: 11px;
    border: 1px solid #C3C0B2;
    font-weight: normal;
    color: #e16e22;
    background-color: #ece9e4;
    text-align: center;
    vertical-align: middle;
}
td.stron{
    width: 107pt;
    font-size: 11px;
    font-weight: normal;
    border: 1px solid #c0c0c0;
    color: #ffffff;
    background-color: #ff99cc;
}
td.defvar{
    width: 107pt;
    font-size: 11px;
    font-weight: normal;
    border: 1px solid #c0c0c0;
    color: #ffffff;
    background-color: #6699cc;
}
td.tabtab{
    border: 1px solid #C0C0C0;
    background-color: #FFFFFF;
}
td.nodetype{
    width: 107pt;
    border: 1px solid #C3C0B2;
    font-size: 11px;
    font-weight: normal;
    color: #e16e22;
    background-color: #dddddd;
}
td.nodename{
    font-size: 16px;
    font-weight: bold;
    color: #e16e22;
    background-color: #dddddd;
}
tr.headinglabel{
    background-color: #99CCFF;
}
tr.desclabel{
    background-color: #FAFAD2;
}
tr.descitem{
    background-color: #FAFAD2;
}
tr.vslabel{ /*background-color : #FFFF99; */
    background-color: #CCFFFF;
}
.code{
    font-family: "Courier New", Courier, mono;
    font-size: 12px;
    padding: 5px;
    border: 1px dashed #C0C0C0;
}
.ppsign{
    color: #000080;
}
.ppelement{
    color: #000080;
}
.ppattribute{ /*color : #ffa500;*/
    color: #D2691E;
}
.ppcontent{
    color: #a52a2a;
}
.pptext{
    color: #808080;
}
.ppnamespace{
    color: #0000ff;
}
h{
    background-color: #ece9e4;
    color: #7a6e62;
    font-weight: bold;
}
@page big_table{
    size: A4 landscape;
}
div.landscape{
    page: big_table
}
/* repository iconographics */
.repobox{
    display: inline;
}
.repo{
    box-sizing: border-box;
    display: inline;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 11px;
    font-style: normal !important;
    font-weight: normal !important;
    height: 16px;
    line-height: 14px;
    text-align: left;
    width: auto !important;
    padding: 1px 5px 1px 5px;
}
.ref{
    background-color: #aaa;
    color: #fff;
    margin-right: 0px;
    text-shadow: #000 1px 0px 2px;
    width: auto !important;
    -webkit-border-radius: 3px 0px 0px 3px;
    -moz-border-radius: 3px 0px 0px 3px;
    border-radius: 3px 0px 0px 3px;
}
.refonly{
    background-color: #aaa;
    color: #fff;
    margin-right: 0px;
    text-shadow: #000 1px 0px 2px;
    width: auto !important;
    -webkit-border-radius: 3px 0px 0px 3px;
    -moz-border-radius: 3px 0px 0px 3px;
    border-radius: 3px;
}
.refvalue{
    background-color: #d684ff;
    color: #fff;
    margin-left: -4px;
    width: auto !important;
    -webkit-border-radius: 0px 3px 3px 0px;
    -moz-border-radius: 3px 0px 0px 3px;
    border-radius: 0px 3px 3px 0px;
}
.nowrapinline{
    display: inline;
    white-space: nowrap !important;
}
ol.ad-dataset-group{
    list-style-type: none;
}
li.ad-dataset-group{
    font-weight: bold;
    padding: 7px 0 0 0;
}
li.ad-dataset-item,
li.ad-template{
    font-weight: normal;
    list-style-type: none;
    padding: 7px 0 0 0;
}
ul.ad-terminology-code{
    list-style-position: inside;
    font-weight: normal;
    padding: 7px 0 3px 20px;
    border: 0px;
    list-style-type: disc;
}
ul.ad-transaction-condition{
    padding: 7px 0 3px 20px;
    list-style-position: inside;
}
li.ad-transaction-condition{
    font-style: italic;
    font-weight: normal;
    list-style-type: circle;
    padding: 0 3px 0 5px;
    border-left: 5px solid #ddd;
}
div.ad-dataset-itemnumber,
div.ad-templatetype{
    margin: -2px 0 5px 6px;
    display: inline-block;
    border: 1px solid #c0c0c0;
    background-color: #eee;
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    width: auto !important;
    padding: 1px 5px 1px 5px;
}
div.ad-dataset-level1{
    font-size: 2ex;
    font-weight: bold;
    border-bottom: 2px solid #ddd;
}
table.ad-transaction-table,
table.ad-template-table{
    border: 1px solid #888;
    border-collapse: collapse;
    width: 100%;
}
div.cdadocumentlevel{
    background-color: #eef;
}
div.cdaheaderlevel{
    background-color: #ffe;
}
div.cdasectionlevel{
    background-color: #efe;
}
div.cdaentrylevel{
    background-color: #fef;
}
div.ad-itemnumber-green{
    background-color: #efe;
}
div.ad-itemnumber-blue{
    background-color: #cef;
}
div.ad-itemnumber-yellow{
    background-color: #ffe;
}
div.description{
    font-weight: normal;
    font-size: 12px;
    color: #aaa;
}
ul.tmap{
    list-style-type: none;
    padding: 0;
    margin: 0;
    color: #8b0000;
    font-weight: normal;
    font-size: 10px;
}
img.art-decor-responsive-img {
	max-width:100% !important;
	height:auto !important;
}
h1.ad-heading, 
h2.ad-heading, 
h3.ad-heading, 
h4.ad-heading, 
h5.ad-heading {
    border-bottom: none;
}
/* END-ART-DECOR-EXTRA-CSS */