/*
    Copyright (C) 2013-2016 ART-DECOR expert group art-decor.org
    
    Author: Marc de Graauw
    
    Derived from: jquery.treetable.theme.default.css
    See: http://ludo.cubicphuse.nl/jquery-treetable/
    
    This program is free software; you can redistribute it and/or
    modify it under the terms of the GNU General Public License
    as published by the Free Software Foundation; either version 2
    of the License, or (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
    
    The full text of the license is available at http://www.gnu.org/licenses/gpl-2.0.html
*/
table.treetable{
    border:1px solid #888;
    border-collapse:collapse;
    font-size:.8em;
    line-height:1;
    margin:.6em 0 1.8em 0;
    width:100%;
}
table.treetable caption{
    font-size:.9em;
    font-weight:bold;
    margin-bottom:.2em;
}
table.treetable thead{
    background:#aaa url(../images/bg-table-thead.png) repeat-x top left;
    font-size:.9em;
}
table.treetable thead tr th{
    border:1px solid #888;
    font-weight:normal;
    padding:.3em 1em .1em 1em;
    text-align:left;
}
table.treetable tbody tr td{
    border:1px solid #888;
    cursor:default;
    padding:.3em 1em;
}
table.treetable span{
    background-position:center left;
    background-repeat:no-repeat;
    padding:.2em 0 .2em 1.5em;
}
table.treetable span.file{
    background-image:url(../images/file.png);
}
table.treetable span.folder{
    background-image:url(../images/folder.png);
}
table.treetable tr.collapsed span.indenter a{
    background-image:url(../images/expand.png);
}
table.treetable tr.expanded span.indenter a{
    background-image:url(../images/collapse.png);
}
table.treetable tr.selected{
    background-color:#3875d7;
    color:#fff;
}
table.treetable tr.collapsed.selected span.indenter a{
    background-image:url(../images/expand-light.png);
}
table.treetable tr.expanded.selected span.indenter a{
    background-image:url(../images/collapse-light.png);
}
table.treetable tr.accept{
    background-color:#a3bce4;
    color:#fff
}
table.treetable tr.collapsed.accept td span.indenter a{
    background-image:url(../images/expand-light.png);
}
table.treetable tr.expanded.accept td span.indenter a{
    background-image:url(../images/collapse-light.png);
}
/* Added Nictiz styles */
input#nameSearch,
select{
    color:black;
    margin:0.2em;
    border:1px solid;
}
th{
    color:#E16E22;
}
ul{
    margin:0.2em;
    padding:0em 1em;
}
ol{
    margin:0.2em;
    padding:0em 1em;
}
th.columnName{
    width:20%;
}
th.columnDescription{
    width:30%;
}
button{
    -webkit-appearance: none;
    -webkit-border-horizontal-spacing: 2px;
    -webkit-border-vertical-spacing: 2px;
    -webkit-box-shadow: rgba(255, 255, 255, 0.2) 0px 1px 0px 0px inset, rgba(0, 0, 0, 0.0470588) 0px 1px 2px 0px;
    -webkit-writing-mode: horizontal-tb;
    align-items: flex-start;
    background-color: rgb(245, 245, 245);
    background-image: linear-gradient(rgb(255, 255, 255), rgb(230, 230, 230));
    background-repeat: repeat-x;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-collapse: separate;
    border-image-outset: 0px;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-bottom-color: rgb(179, 179, 179);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: rgba(0, 0, 0, 0.0980392);
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: rgba(0, 0, 0, 0.0980392);
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: rgba(0, 0, 0, 0.0980392);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-top-style: solid;
    border-top-width: 1px;
    box-shadow: rgba(255, 255, 255, 0.2) 0px 1px 0px 0px inset, rgba(0, 0, 0, 0.0470588) 0px 1px 2px 0px;
    box-sizing: border-box;
}
input {
    -webkit-appearance: none;
    -webkit-border-horizontal-spacing: 2px;
    -webkit-border-vertical-spacing: 2px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset;
    -webkit-rtl-ordering: logical;
    -webkit-transition-delay: 0s, 0s;
    -webkit-transition-duration: 0.2s, 0.2s;
    -webkit-transition-property: border, box-shadow;
    -webkit-transition-timing-function: linear, linear;
    -webkit-user-select: text;
    -webkit-writing-mode: horizontal-tb;
    background-color: rgb(255, 255, 255);
    background-image: none;
    border-bottom-color: rgb(204, 204, 204);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-collapse: separate;
    border-image-outset: 0px;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: rgb(204, 204, 204);
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: rgb(204, 204, 204);
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: rgb(204, 204, 204);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-top-style: solid;
    border-top-width: 1px;
    box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset;
    box-sizing: border-box;
}
span.hideMe{
    cursor:pointer;
}
td{
    vertical-align:top;
}
td.columnName{
    white-space:nowrap;
}
td.columnCodes ul li{
    list-style-type:circle;
}
.bg-group{
    background-color:#eee;
}
table.treetable span.indenter{
    display:inline-block;
    margin:0;
    padding:0;
    text-align:right;
    user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -o-user-select:none;
    -webkit-user-select:none;
    width:19px;
}
table.treetable span.indenter a{
    background-position:left center;
    background-repeat:no-repeat;
    display:inline-block;
    text-decoration:none;
    width:19px;
}