/* voorkomt blauwe ring rond geselecteerde items in Safari */
:focus {
	outline : none;
}
.logoarea {
	font-size : 12px;
	width : 100%;
	float : left;
}
.logo {
	float : right;
	margin : 0 0 0 0;
	background : #ffffff url(logo.png) no-repeat;
	width : 349px;
	height : 76px;
	padding : 0;
}
h1, div.part div.toc p {
    font-size : 14px;
    font-weight : bold;
    color : #e16e22;
    background-color : white;
    padding-top : 8px;
    padding-bottom : 8px;
}
h2 {
    font-size : 12px;
    font-weight : bold;
    color : #e16e22;
    background-color : white;
    width : auto;
    padding-top : 6px;
    padding-bottom : 6px;
}
h2.title {
    background-color : white;
}
h3, h4, h5, h6, h7, h8 {
    font-size : 12px;
    font-weight : bold;
    color : #7a6e62;
    background-color : white;
    padding-top : 4px;
    padding-bottom : 4px;
}
a:link {
    color : green;
}
a:visited {
    color : green;
}
a:hover {
    color : red;
}
a:active {
    color : yellow;
}
body,
form,
table,
tr,
td,
th,
p {
	font-family : "Cambria", "Times New Roman", serif;
	font-size : 12px;
	font-weight : normal;
	color : #333333;
}

.content {
	width : auto;
	background-color : #ffffff;
	margin-left : 10px;
	margin-top : 10px;
	padding-left : 10px;
	padding-top : 10px;
	border-top : 0.25pt solid #d7b0c6;
}
div {
	margin-left : 0px;
	margin-right : 0px;
	margin-top : 0px;
	margin-bottom : 4px;
	text-align : left;
	vertical-align : top;
}
div.toggle {
	margin-left : 0px;
	margin-right : 0px;
	margin-top : 0px;
	margin-bottom : 0px;
	text-align : left;
	vertical-align : top;
	display : none;
}
div.level2 {
	margin-left : 0px;
	margin-right : 0px;
	margin-top : 0px;
	margin-bottom : 1px;
	padding-left : 10px;
	text-align : left;
	vertical-align : top;
}
table.values{
	width:100%;
}
table.bgstrips {
    background: url(strips.png) repeat;
}
tr.plain {
	margin-left : 0px;
	margin-right : 0px;
	margin-top : 0px;
	margin-bottom : 0px;
}
tr.alternate {
	margin-left : 0px;
	margin-right : 0px;
	margin-top : 0px;
	margin-bottom : 0px;
	color : black;
	background-color : #f6f3ee;
}
td.value-label {
	width : 15%;
	background-color : #ece9e4;
	color : #7a6e62;
	font-weight : bold;
	padding : 2px;
}
td.labelSmall {
	width : 15%;
	background-color : #ece9e4;
	color : #7a6e62;
	font-weight : normal;
	padding : 1px;
}

td.elementHeader {
	width : 25%;
	background-color : #ece9e4;
	color : #7a6e62;
	font-weight : normal;
	padding : 1px;
}
td.scenarioHeader {
	vertical-align : top;
/*	background-color : #ece9e4;*/
	color : #7a6e62;
	font-weight : normal;
	padding : 1px;
	border-top : 0.25pt solid #d7b0c6;
}
td.value {
/*	width : 80%;*/
	font-weight : normal;
	padding : 1px;
}
td.xmlExample {
	background-color : #f6f3ee;
	font-weight : normal;
	padding : 1px;
}
th {
	background-color : #ece9e4;
	color : #7a6e62;
	font-weight : bold;
}
td.conf {
    width : 107pt;
	font-size : 11px;
	border : 0.25pt solid #C3C0B2;
	font-weight : normal;
	color : #e16e22;
	background-color : #ece9e4;
}
td.stron {
    width : 107pt;
	font-size : 11px;
	font-weight : normal;
	border : 0.25pt solid #c0c0c0;
	color: #ffffff;
	background-color: #ff99cc;
}
td.defvar {
    width : 107pt;
	font-size : 11px;
	font-weight : normal;
	border : 1px solid #c0c0c0;
	color: #ffffff;
	background-color: #6699cc;
}
div.tabtab,
table.tabtab,
td.tabtab {
    border:0.25pt solid #C0C0C0;
    background-color:#FFFFFF;
}
td.nodetype {
    width : 57pt;
	border : 1px solid #C3C0B2;
	font-size : 11px;
	font-weight : normal;
	color : #e16e22;
	background-color : #dddddd;
}
td.nodename {
	font-size : 16px;
	font-weight : bold;
	color : #e16e22;
	background-color : #dddddd;
}
td.withBorder {
	border : 1px solid #C0C0C0;
}
tr.headinglabel {
    background-color : #99CCFF; 
}
tr.desclabel {
    background-color : #FAFAD2; 
}
tr.descitem {
    background-color : #FAFAD2; 
}
tr.vslabel {
    /*background-color : #FFFF99; */
    background-color : #CCFFFF;
}
tr.explabel {
    background-color : #E6E6FA;
}
td.explabelred {
    background-color : #FFEEEE;
    font-size : 9px;
}
td.explabelgreen {
    background-color : #E0FFE0;
    font-size : 9px;
}
td.explabelblue {
    background-color : #E6E6FA;
    font-size : 9px;
}
tt {
    font-size : 10px;
}
input,
textarea {
	font-family : Arial, Verdana;
	font-size : 12px;
	font-weight : normal;
	color : #5D7999;
}
input.field,
textarea.ta {
	border : 1px solid #C3C0B2;
	background-color : #FAFAFA;
}
select.field {
	font-family : Arial, Verdana;
	font-size : 12px;
	font-weight : normal;
	color : #5D7999;
	border : 1px solid #C3C0B2;
	background-color : #FAFAFA;
}
input.button {
	color : #000000;
}
/*a:link,
a:active,
a:visited {
	color : #7a6e62;
	text-decoration : none;
}*/
/*a:hover {
	font-family : Arial, Verdana;
	font-size : 12px;
	text-decoration : underline;
}*/
/*a.toggle:link, a.toggle:visited {
    text-decoration: none;
    background-color:inherit;
    color:inherit;
}*/
/*thead td,
.thead {
	font-weight : bold;
	color : #284465;
	border-bottom : 1px solid #CFD4D9;
}*/
fieldset {
	border : 1px solid #C0C0C0;
	margin : 5px;
	padding : 12px;
}
legend {
	font-weight : bold;
	color : #284465;
}
.comment {
	font-size : 12px;
	color : #999999;
}
.commentBox {
	background-color : #F5F5F4;
	padding : 12px;
}
.icon {
	margin-right : 5px;
	margin-top : 5px;
}
.required {
	font-weight : bold;
	color : #990000;
}
.strong {
	font-weight : bold;
}
.bottomline {
	border-bottom : 1px solid #F1F1EF;
}
.topline {
	border-top : 1px solid #F1F1EF;
}
.page_act {
	font-weight : bold;
	color : #284465;
}
/*a.page:link,
a.page:active,
a.page:visited,
a.page:hover {
	font-weight : bold;
	font-family : Arial, Verdana;
	font-size : 12px;
	font-weight : normal;
	color : #97B201;
	text-decoration : none;
}*/
.page_disable {
	color : #5D7999;
}
.true {
	color : #009900;
}
.false {
	color : #990000;
}
.code {
	font-family : "Lucida Console", "Courier New", Courier, mono;
	font-size : 12px;
	padding : 5px;
	border : 1px dashed #C0C0C0;
}
.ppsign {
	color : #000080;
}
.ppelement {
	color : #000080;
}
.ppattribute {
	/*color : #ffa500;*/
	color : #D2691E;
}
.ppcontent {
	color : #a52a2a;
}
.pptext {
	color : #808080;
}
.ppnamespace {
	color : #0000ff;
}




/*
** MediaWiki Print style sheet for CSS2-capable browsers.
** Copyright Gabriel Wicke, http://www.aulinx.de/
**
** Derived from the plone (http://plone.org/) styles
** Copyright Alexander Limi
*/

/* Thanks to A List Apart (http://alistapart.com/) for useful extras */
a.stub, a.new {
	color:#ba0000;
	text-decoration:none;
}
#toc {
	/*border:1px solid #2f6fab;
    border:1px solid #aaaaaa;
	background-color:#f9f9f9;*/
	padding:5px;
}
.tocindent {
	margin-left: 2em;
}
.tocline {
	margin-bottom: 0px;
}
/* images */
div.floatright {
	float: right;
	clear: right;
	margin: 0;
	position:relative;
	border: 0.5em solid White;
	border-width: 0.5em 0 0.8em 1.4em;
}
div.floatright p {
	font-style: italic;
}
div.floatleft {
	float: left;
	margin: 0.3em 0.5em 0.5em 0;
	position:relative;
	border: 0.5em solid White;
	border-width: 0.5em 1.4em 0.8em 0;
}
div.floatleft p {
	font-style: italic;
}
/* thumbnails */
div.thumb {
	margin-bottom: 0.5em;
	border-style: solid;
	border-color: White;
	width: auto;
	overflow: hidden;
}
div.thumb div {
	border:1px solid #cccccc;
	padding: 3px !important;
	background-color:#f9f9f9;
	font-size: 94%;
	text-align: center;
}
div.thumb div a img {
	border:1px solid #cccccc;
}
div.thumb div div.thumbcaption {
	border: none;
	padding: 0.3em 0 0.1em 0;
}
div.magnify {
	display: none;
}
div.tright {
	float: right;
	clear: right;
	border-width: 0.5em 0 0.8em 1.4em;
}
div.tleft {
	float: left;
	margin-right:0.5em;
	border-width: 0.5em 1.4em 0.8em 0;
}
img.thumbborder {
	border: 1px solid #dddddd;
}
/* table standards */
table.rimage {
	float:right;
	width:1pt;
	position:relative;
	margin-left:1em;
	margin-bottom:1em;
	text-align:center;
}
body {
	background: white;
	font-size: 11pt !important;
	color: Black;
	margin: 0;
	padding: 0;
}
.noprint, div#jump-to-nav, div.top, div#column-one, #colophon, .editsection, .toctoggle, .tochidden, div#f-poweredbyico, div#f-copyrightico, li#viewcount, li#about, li#disclaimer, li#privacy {
	/* Hides all the elements irrelevant for printing */
    display: none;
}
ul {
	list-style-type: square;
}
#content {
	background: none;
	border: none ! important;
	padding: 0 ! important;
	margin: 0 ! important;
}
#footer {
	background : white;
	color : black;
	border-top: 1px solid black;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
}
p, .documentDescription {
	margin: 1em 0 ! important;
	line-height: 1.2em;
}
.tocindent p {
	margin: 0 0 0 0 ! important;
}
pre {
	border: 0.1em solid gray;
	white-space: pre;
	font-size: 8pt;
	overflow: auto;
	padding: 1em 0;
	background : #efefef;
	color : black;
}
table.listing, table.listing td {
	border: 1pt solid black;
	border-collapse: collapse;
}
a {
	color: Black !important;
	background: none !important;
	padding: 0 !important;
}
a:link, a:visited {
	color: #520;
	background: transparent;
	text-decoration: underline;
}
#content a.external.text:after, #content a.external.autonumber:after {
	/* Expand URLs for printing */
    content: " (" attr(href) ") ";
}
#globalWrapper {
	width: 100% !important;
	min-width: 0 !important;
}
#content {
	background : white;
	color : black;
}
#column-content {
	margin: 0 !important;
}
#column-content #content {
	padding: 1em;
	margin: 0 !important;
}
/* MSIE/Win doesn't understand 'inherit' */
a, a.external, a.new, a.stub {
	color: black ! important;
	text-decoration: none ! important;
}
/* Continue ... */
a, a.external, a.new, a.stub {
	color: inherit ! important;
	text-decoration: inherit ! important;
}

span.texhtml {
	font-family: serif;
}
#siteNotice {
	display: none;
}
table.gallery {
	border:  1px solid #cccccc;
	margin:  2px;
	padding: 2px;
	background-color:#ffffff;
}
table.gallery tr {
	vertical-align:top;
}
div.gallerybox {
	border: 1px solid #cccccc;
	margin: 2px;
	background-color:#f9f9f9;
	width:  150px;
}
div.gallerybox div.thumb {
	text-align: center;
	border: 1px solid #cccccc;
	margin: 2px;
}
div.gallerytext {
	font-size: 94%;
	padding: 2px 4px;
}
/*
** Diff rendering
*/
table.diff {
	background:white;
}
td.diff-otitle {
	background:#ffffff;
}
td.diff-ntitle {
	background:#ffffff;
}
td.diff-addedline {
	background:#ccffcc;
	font-size: smaller;
	border: solid 2px black;
}
td.diff-deletedline {
	background:#ffffaa;
	font-size: smaller;
	border: dotted 2px black;
}
td.diff-context {
	background:#eeeeee;
	font-size: smaller;
}
.diffchange {
	color: silver;
	font-weight: bold;
	text-decoration: underline;
}
/**
 *	Christoph Päper <webdesign@crissov.de> <http://crissov.de>
 *	@media print
 *	url("http://crissov.de/print.css")
 *	Stand: 2003-10-21
 */

body {
	font-family : "Cambria", "Times New Roman", serif;
	/*font-size-adjust: 0.39;*/
	background-color:               white;
	color:                          black;
}
p {
	page-break-inside:       avoid;
}
cite {
	font-style:              normal;
	font-stretch:            narrower;
	letter-spacing:   0.2em;
}
cite.person, cite.name {
	font-variant:            small-caps;
}
cite.tm, cite.reg, cite.copy {
	font-style:              italic;
	font-variant:            normal;
	letter-spacing:   0;
}
cite.tm:after {
	content: "™"
}
cite.reg:after {
	content: "®"
}
cite.copy:after {
	content: "©"
}
var {
	font-style:              oblique;
}
kbd {
	border:           thin outset gray;
}
acronym {
	font-size:        95%;
}
abbr {
	word-spacing:    -0.33ex;
	white-space:             nowrap;
}
samp {
	color:                          gray;
}
em {
	font-family:             sans-serif;
	font-style:              normal;
}
strong, em em {
	font-weight:             bolder;
}
blockquote, q {
	font-style:              italic;
}
blockquote, pre {
	border-left:      0.5em solid gray;
	padding-left:     1.0em;
}
/*	Footer etc.	*/
/*h1, h2.untertitel,
address, address+p
{
	text-align:              center;
}
*/
address {
	margin-top:       2em;
	border-top:       medium solid #EEE;
	padding-top:      1em;
}
address+p img, p.language {
	display:                 none;
}
/*	Navigation	*/
map {
	display:                 none;
	page-break-after:        always;
}
/*
 *	Listen
 */
dl, ol, ul {
	margin:           0.5em 1em;
	/*page-break-inside: avoid;*/
}
li {
	margin-left:   1em;
}
dt {
	margin-left:   0;
}
dd {
	margin-left:   4em;
}
dl dl {
	margin-left:   0;
}
li dl {
	margin-left:  -1em;
}
ul {
	list-style-type:      square;
}
/*
 *	Tabellen
 */
table {
	/*	width:            70%;
	margin:           2em auto;
	/*border:           thin   solid  black;*/
	/*border-collapse:         collapse;*/
	/*page-break-before:       always;*/
	/*page-break-inside:       avoid;*/
}
h1+table, h2+table, h3+table, h4+table, h5+table, h6+table {
	page-break-before: avoid;
}
caption {
	font-size:        1em;
	font-weight:      bolder;
}
/*
thead, th
{
	font-weight:             bolder;
	text-align:              center;
	background-color:               silver;
}
*/
thead {
	display:table-header-group;
	page-break-inside: avoid !important;
}
tbody {
	/*border:           thin   solid  black;*/
	/*page-break-inside:       avoid !important;*/
}
tfoot {
	display:table-footer-group
}
tr {
	/*page-break-inside:avoid;
	page-break-after:auto;*/
	page-break-after:auto
}
td, tbody th {
	/*border:           thin   solid  black;
	border-width:     0 thin;
	text-align:              left;*/
	/*page-break-inside:       avoid !important;*/
}
/*
 *	Überschriften
 */
h1, h2, h3, h4, h5, h6, h7, h8 {
	page-break-after:        avoid !important;
	font-weight:             bold;
	color:                   black;
}
h1 {
	font-size:        1.5em;
}
h2 {
	font-size:        1.4em;
	/*; page-break-before: always*/
}
h3 {
	font-size:        1.3em
}
h4 {
	font-size:        1.2em
}
h5 {
	font-size:        1.1em
}
h6 {
	font-size:        1.0em
}
h7 {
	font-size:        1.0em
}
h8 {
	font-size:        1.0em
}
/*
 *	Links
 */
a {
	text-decoration:         none !important;
	background-color:               white;
	color:                          black;
}
/*==================================================
style-sheets.de
Stylesheet fuer die Druckausgabe
(c) 2003-2004 by Gerrit Kaiser <gk@style-sheets.de>
==================================================*/

/* Fuer die Druckausgabe ueberfluessiges abschalten */
#nav, #val, .legacycontent {
	display: none;
}
/* Geeignete Eigenschaften fuer die Druckausgabe setzen */

body {
	margin: 0;
	padding: 0;
	font: 12pt Cambria, "Times New Roman", Times, serif;
	color: black;
	background: transparent;
}
h1, h2, h3, h4, h5, h6, h7, h8 {
	font-family: "Calibri", Verdana, sans-serif;
	font-weight: bold;
	margin: .75em 0 .5em 0;
	page-break-after: avoid;
}
h2 {
	font-size: 1.4em;
	/*text-transform: uppercase; 
    letter-spacing: .05em;*/
    color: #4F81BD;
}
h3 {
	font-size: 1.1em;
	color: #4F81BD;
}
h4 {
	font-size: 1.0em;
	color: #4F81BD;
}
h5 {
	font-size: 1.0em;
}
h6, h7, h8 {
	font-size: .8em;
}
ol, ul, li {
	font-size: 1.0em;
	line-height: 1.5;
	margin-top: .2em;
	margin-bottom: .1em;
}
p {
	font-size: 1.0em;
	/*line-height: 1.3;*/
	margin: 0 0 1em 0;
	orphans: 3;
	widows: 3;
}
/*p+p {
  margin-top: -1em;
  text-indent: 2em;
}
*/

code {
	font-size: .76em; /* Code wird sonst viel zu gross gerendert */
	font-family : "Lucida Console", "Courier New", Courier, mono;
	color: #333;
	background: transparent;
}
a, a:visited, a:hover, a:visited:hover {
	color: #04667e;
	background: transparent;
	text-decoration: none;
}
a img {
	border: none;
}
/* Diese Regel fuegt in CSS2-Browsern die Link-Adresse hinter Links ein. */ 
/*a:link:after, a:link:visited:after {

  content: " (Link auf <" attr(href) ">) ";

  font-size: 76%;
  color: #999;

  background: transparent;
}*/


/* Bei internen Links muss noch die eigene Domain ausgegeben werden */

/*a[href^="/"]:link:after {

  content: " (Link auf <http://style-sheets.de " attr(href) ">) ";

}*/

/* Innerhalb von Beispielen sind ausgedruckte URLs unerwuenscht */
.beispiel a:link:after, .beispiel a:link:visited:after {
	content: "";
}
#sitemast {
	padding-bottom: 1em;
	margin-bottom: 1.5em;
	border-bottom: 20pt solid #c8c8c8;
}
#sidecontent {
	border: 1pt dashed;
	background: #dde5f3;
	font-size: .95em;
	margin: 1cm;
	padding: 5pt;
}
#footer {
	border-top: 1.5pt solid;
	font-size: .95em;
	color: #333;
	text-align: center;
	display:none;
}
#sidecontent p, #footer p {
	text-indent: 0;
}
#sidecontent h2 {
	margin: 0;
}
.postinfos {
	font-weight: bold;
	border-bottom: 1pt solid;
	width: 50%;
}
div.beispiel {
	border: 2pt solid #bbb;
	background-color: #eee;
	padding: 3pt;
	page-break-inside: avoid;
}
h1 {
	page-break-before: always;
	color: #345A8A;
	padding-bottom: 1px;
	border-bottom: 0.25pt #aaaaaa solid;
}
h1, h2, h3, h4, h5, h6, h7, h8 {
	page-break-after:avoid;
	page-break-inside:avoid;
}
img {
	page-break-inside:avoid;
	page-break-after:avoid;
}
blockquote, pre, img {
	page-break-inside:avoid
}
ul, ol, dl {
	page-break-before:avoid;
}
#firstHeading
{
	display:none;
}

#left, #right, #header, #footer {
	display:none;
}
img.centered {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
img.right {
	padding: 4px;
	margin: 0 0 2px 7px;
	display: inline;
}
img.left {
	padding: 4px;
	margin: 0 7px 2px 0;
	display: inline;
}
.right {
	float: right;
}
.left {
	float: left
}
img {
	page-break-inside:avoid;
	page-break-after:avoid;
}

/* set headers and footers */

@page {
    size: a4 portrait;
    margin: 2cm;
    /*font: 11pt/1.3 "Gentium", serif;*/
    @top-right { 
        content: string(h1title);
        font-style: italic;
        /*border-bottom: thin solid gray;*/
    }
    @top-left { 
        content: string(projecttitle);
        font-style: italic;
    }
    @bottom-center {
        content: counter(page) "/" counter(pages);
        vertical-align: top;
        padding-top: 1em;
        border-top: thin solid gray;
    }
}
@page:first { 
    size: a4 portrait;
    margin: 2cm;
    @top-left { 
        content: normal; 
    }
    @bottom { 
        content: normal
    }
}
@page big_table { 
    size: A4 landscape;
}
@page big_table_stf { 
    size: A4 landscape;
    prince-shrink-to-fit: auto;
}
div.landscape { 
    page: big_table
}
div.landscapeshrinktofit { 
    page: big_table_stf;
}

div.paramProject {
    /* parameter for printing only, don't display */
    string-set: projecttitle content();
}

/*
@page:left { 
    @top { content: normal }
    @bottom { content: normal }
}
@page:right { 
    @top { content: normal }
    @bottom { content: normal }
}
*/


#siteSub { 
	/*string-set: source content() */
	display: none ;
}

#contentSub { 
	display: none ;
}

h1.firstHeading { 
  float: top; 
  padding-bottom: 0.2em;
  border-bottom: thin solid black;
  margin-bottom: 1em;
}

#footer { padding-top: 1em }
#footer ul { 
  list-style-type: none;
  margin-left: 0;
}

#footer li { display: inline }
#footer br { display: none ! important }
#privacy, #about, #disclaimer { display: none }

hr {
	height: 1pt;
	border: 0 ;
    border-bottom: thin solid gray;
	margin: .2em 0 .2em 0;
}
.ppcode {
	font-size: .76em; /* Code wird sonst viel zu gross gerendert */
}

.thumb, .thumbinner, img, .thumbcaption { 
  border: none; margin: 0; padding: 0;
  page-break-inside: avoid;
}

.thumb { 
  margin: 0.2em 0;
  float: prince-column-top-if-necessary; 
}

.thumb img {
  width: 100%;
  height: auto;
}

.thumbcaption { 
   background: #fff; 
   text-align: left; 
   font-style: italic;
   font-size: 1em;
   line-height: 1.2em;
   padding-bottom: 0.3em;
   border-bottom: thin solid gray;
   margin-bottom: 1em;
}

div, img {
	max-width: 100%
}

img.thumbborder { border: thin solid black }

.print-document-logohead {
	text-align: left;
	padding-top: 0em;
    position: absolute;
	left: 0;
	top: 0;
	color:#555;
	clear: both;
}

div.online-document-information {
	display: none;
}

div.print-document-information {
	page-break-before: avoid;
	page-break-after: always;
	background-color: #eee;
	padding: 0em 1em .5em 1em;
	color: #000;
	border-left: thick solid gray;
}
.doc-title {
	font-weight: bold;
	font-size: 1.5em;
	text-align: center;
	padding-top: 1.5em;
}
.doc-short {
	display: none;
	string-set: title content();
}
.doc-type {
	font-size: 1.5em;
	font-style: italic;
	text-align: center;
	padding-top: 3em;
}
.doc-submitted {
	text-align: center;
	padding-top: 3em;
}
.doc-status {
	font-style: italic;
	text-align: center;
	padding-top: 3em;
}
.doc-vbox {
	margin: 5em;
	border-top: thin solid gray;
	border-bottom: thin solid gray;
	padding-left: 1em;
	text-align: left;
}
.doc-copyright {
	text-align: center;
	color:#555;
}

/* counters and markers */
body {
	counter-reset: head1;
	counter-reset: toc_chapter;
	string-set: h1title " ";
	string-set: projecttitle " ";
}
h1:before {
    content: counter(head1) " ";
}
h1 {
    counter-increment: head1;
    counter-reset: head2;
    string-set: h1title content();
}
h2:before {
    content: counter(head1) "." counter(head2) " ";
}
h2 {
    counter-increment: head2;
    counter-reset: head3;
}
h3:before {
    content: counter(head1) "." counter(head2) "." counter(head3) " ";
}
h3 {
    counter-increment: head3;
    counter-reset: head4;
}
h4:before {
    content: counter(head1) "." counter(head2) "." counter(head3) "." counter(head4) " ";
}
h4 {
    counter-increment: head4;
    counter-reset: head5;
}
h5:before {
    content: counter(head1) "." counter(head2) "." counter(head3) "." counter(head4) "." counter(head5) " ";
}
h5 {
    counter-increment: head5;
    counter-reset: head6;
}
h6:before {
    content: counter(head1) "." counter(head2) "." counter(head3) "." counter(head4) "." counter(head5) "." counter(head6) " ";
}
h6 {
    counter-increment: head6;
    counter-reset: head7;
}
h7:before {
    content: counter(head1) "." counter(head2) "." counter(head3) "." counter(head4) "." counter(head5) "." counter(head6) "." counter(head7) " ";
    counter-increment: head7;
}

.h1111::before {
  white-space: pre;
  margin-left: -2.5cm;
  font-size: 50%;
  content: "\B0  \B0  \B0  \B0  \B0 \A";  /* ornaments */
}

.tocnumber { 
	display: none; 
}
#toctitle {
	string-set: toctt "Table of Contents";
	content: string(toctt);
	font-size: 1.4em;
	font-family: "Calibri", Verdana, sans-serif;
	font-weight: bold;
	margin: .75em 0 .5em 0;
	page-break-after: avoid;
    color: #4F81BD;
}

/*
ul.toc, ul.toc ul { 
  list-style-type: none;
  margin: 0; padding: 0;
}
ul.toc ul {
  margin-left: 1em;
  font-weight: normal;
}
ul.toc > li { 
  font-weight: bold;
  margin-bottom: 0.5em;
}
ul.toc a::after {
  content: leader('.') target-counter(attr(href), page);
  font-style: normal;
}
ul.toc > li.frontmatter a::after {
  content: leader('.') target-counter(attr(href), page, lower-roman);
  font-style: normal;
}
ul.toc > li.endmatter a::after {
  content: leader('.') target-counter(attr(href), page);
  font-style: normal;
}
ul.toc > li.chapter::before {
  content: "Chapter " counter(toc-chapter, decimal);
  display: block;
  margin: 1em 0 0.1em -1cm;
  font-weight: normal;
  counter-increment: toc-chapter;
  page-break-after: avoid;
}
*/

/* counters and markers */
body {
	counter-reset: tocchapter;
}

#toc::before {
	font-size:1.5em;
	line-height: 1.2;
	padding-top: 1em;
	margin: 2em 0 0.5em 0;
	clear: both;
	font-weight: bold;
	counter-reset: tocchapter;
}
#toc {
	border: 1px solid #fff !important;
	background-color: #fff !important;
	width: 100%;
    page: table-of-contents;
}
@page table-of-contents {
    @top-right { 
    	content: string(toctt);
    	font-style: italic;
  	}
  	@bottom-center {
    	content: counter(page, lower-roman);
    	vertical-align: top;
    	padding-top: 1em;
    	border-top: thin solid gray;
  }
}
.toc ul { 
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.toc li { 
  list-style-type: none;
}

#tocContainer li.toclevel-1 a::after,
#tocContainer li.toclevel-2 a::after,
#tocContainer li.toclevel-3 a::after,
#tocContainer li.toclevel-4 a::after,
#tocContainer li.toclevel-5 a::after,
#tocContainer li.toclevel-6 a::after,
#tocContainer li.toclevel-7 a::after,
#tocContainer li.toclevel-8 a::after {
  content: leader('.') target-counter(attr(href, url), page);
}

#tocContainer li.toclevel-1 {
    font-weight: bold;
}

#tocContainer li.toclevel-1:before {
    font-size: 1.5em;
    content: counter(tocchapter) " ";
}
 
#tocContainer li.toclevel-1  {
    counter-increment: tocchapter;
    counter-reset: toch2;
}
 
#tocContainer li.toclevel-2:before {
	content: counter(tocchapter) "." counter(toch2) " ";
}
 
#tocContainer li.toclevel-2  {
	counter-increment: toch2;
	counter-reset: toch3;
}
 
#tocContainer li.toclevel-3:before {
	content: counter(tocchapter) "." counter(toch2) "." counter(toch3) " ";
	counter-increment: toch3;
}
 
#tocContainer li.toclevel-3 {
	counter-reset: toch4;
}
 
#tocContainer li.toclevel-4:before {
    font-style: italic;
	content: counter(tocchapter) "." counter(toch2) "." counter(toch3) "." counter(toch4) " ";
	counter-increment: toch4;
}
 
#tocContainer li.toclevel-4 {
    font-style: italic;
	counter-reset: toch5;
}
 
#tocContainer li.toclevel-5:before {
    font-style: italic;
	content: counter(tocchapter) "." counter(toch2) "." counter(toch3) "." counter(toch4) "." counter(toch5) " ";
	counter-increment: toch5;
}
#tocContainer li.toclevel-5 {
    font-style: italic;
	counter-reset: toch6;
}

/* cross references */
/*
a[href]::after {
    content: " [p. " target-counter(attr(href, url), page) "] "
}
*/
/*
a.pageref::after { content: " on page " target-counter(attr(href), page); }
a.chapref::before { content: " Chapter " target-counter(attr(href), chapter) ", "; }

*/

/* index */

/*
ul.index { 
  list-style-type: none;
  margin: 0; padding: 0;
  column-count: 2;
  column-gap: 1em;
}

ul.index a::after { content: ", " target-counter(attr(href), page); }
*/

.printfooter {
	display: none;
}

.catlinks {
	display: none;
}

img {
	border: none;
}
img.tex {
	vertical-align: middle;
}
img { 
    width: auto;
    height: auto;
    prince-image-resolution: 180dpi;
}

img {
    max-width: 100%;
    border: none; 
    /*margin: 1em 0 0.3em 0;*/
}

/* front title and licence page */

#titlepage {
     margin: 200pt 0 0 0;
     page-break-after: always;
}
#titlepage td.head {
     font-size: 3.0em;
     font-weight: bold;
     color: #4F81BD;
     border-top: 1pt solid;
}
#titlepage td.text {
     padding: 10pt 0;
     font-size: 12pt;
}
#titlepage td.version {
     padding: 50pt 0;
     font-size: 12pt;
}


#license {
     margin: 200pt 0 .5em 0;
     page-break-after: always;
}
#license td.head {
    font-size: 1.7em;
	font-family: "Calibri", Verdana, sans-serif;
	font-weight: bold;
	color: #4F81BD;
}
#license td.text {
     padding: 10pt 0;
     font-size: 12pt;
}


div.hidden {
    display:none;
}

/* some more */

div.expcaption { 
    padding: 0em 0em; margin: 0 0 0.3em 0; border-bottom: 0.1em solid #dddddd; font-size : 12px;
}
div.toggler { 
    display: inline;
}
div.toggle { 
    display: inline;
}
tr.desclabel {
    background-color: white;
}
/* repository iconographics */
.repobox{
    display: inline;
}
.repo{
    box-sizing: border-box;
    display: inline;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 11px;
    font-style: normal !important;
    height: 16px;
    line-height: 14px;
    text-align: left;
    width: auto !important;
    padding: 1px 5px 1px 5px;
}
.ref{
    background-color: #aaa;
    color: #fff;
    margin-right: 0px;
    text-shadow: #000 1px 0px 2px;
    width: auto !important;
    -webkit-border-radius: 3px 0px 0px 3px;
    -moz-border-radius: 3px 0px 0px 3px;
    border-radius: 3px 0px 0px 3px;
}
.refonly{
    background-color: #aaa;
    color: #fff;
    margin-right: 0px;
    text-shadow: #000 1px 0px 2px;
    width: auto !important;
    -webkit-border-radius: 3px 0px 0px 3px;
    -moz-border-radius: 3px 0px 0px 3px;
    border-radius: 3px;
}
.refvalue{
    background-color: #d684ff;
    color: #fff;
    margin-left: -4px;
    width: auto !important;
    -webkit-border-radius: 0px 3px 3px 0px;
    -moz-border-radius: 3px 0px 0px 3px;
    border-radius: 0px 3px 3px 0px;
}
.nowrapinline{
    display: inline;
    white-space: nowrap !important;
}