
/* Google Font API */
@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900italic,900);
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

@media all {
    * {
        font-family: Roboto, Verdana, Arial, sans-serif;
        font-size: 14px;
        font-weight: normal;
        color: #333333;
    }
    /* prevents blue ring around selected items in Safari */
    :focus {
        outline: none;
    }
    body {
        margin: 0;
        background: #B6B6B6;
    }
    #page-bg {
        background: #B6B6B6 url(../images/page-bg.png) 0 0 repeat-x;
        padding-top: 20px;
    }
    img {
        border: 0px;
    }
    div.wrapper {
        margin: 0 auto;
        width: 900px;
        padding: 0;
    }
    .shadow-left {
        padding-left: 12px;
        background: url(../images/shadow-l.png) 0 35px no-repeat;
    }
    .shadow-right {
        padding-right: 12px;
        background: url(../images/shadow-r.png) 100% 35px no-repeat;
        padding-bottom: 20px;
    }
    .main-page {
        background: #fff url(../images/main-tl.png) 0 0 no-repeat;
    }
    .main-page2 {
        background: url(../images/main-tr.png) 100% 0 no-repeat;
    }
    .main-page3 {
        background: url(../images/main-bl.png) 0 100% no-repeat;
    }
    .main-page4 {
        background: url(../images/main-br.png) 100% 100% no-repeat;
        padding: 5px;
    }
    .header {
        background: #ededed url(../images/header-bg.png) 0 0 repeat-x;
        position: relative;
        border-top: 1px solid #dedede;
        border-left: 1px solid #dedede;
        border-right: 1px solid #dedede;
        height: 100px;
    }
    .horiz-menu {
        height: 47px;
        background: #EDEDED url(../images/horiz-menu-top.png) 0 0 repeat-x;
        border: 1px solid #dedede;
        border-bottom: 0;
    }
    .bottom-menu {
        height: 44px;
        background: url(../images/bottom-menu-bg.png) 0 0 repeat-x;
        border: 1px solid #ccc;
    }
    .bottom {
        background: #f9f9f9 url(../images/bottom-bg.png) 0 0 repeat-x;
        border-left: 1px solid #dedede;
        border-right: 1px solid #dedede;
        border-bottom: 1px solid #dedede;
        padding: 15px 15px;
    }
    .moduletable {
        margin-bottom: 10px;
    }
    .thecontent {
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .footer {
        height: 35px;
        background: url(../images/footer-bg.png) 0 100% repeat-x;
    }
    .thefootercontent {
        margin: 10px 0 10px 0;
        padding-top: 10px;
    }
    h1 {
        font-size: 20px;
        font-weight: bold;
        color: #e16e22;
    }
    h2 {
        font-size: 18px;
        font-weight: bold;
        background-color: #ece9e4;
        color: #e16e22;
        width: auto;
    }
    h3 {
        font-size: 16px;
        font-weight: bold;
        background-color: #ece9e4;
        padding-top: 4px;
        padding-bottom: 4px;
        padding-left: 8px;
        color: #7a6e62;
        width: auto;
        /*    border-top : 1px solid #d7b0c6;*/
    }
    h4 {
        color: #665a4e;
        padding-top: 2px;
        padding-bottom: 2px;
        padding-left: 4px;
        width: auto;
        /*    border-top : 1px solid #d7b0c6;*/
    }
    a {
        font: inherit;
        color: inherit;
    }
    a:link {
        color: green;
    }
    a:visited {
        color: green;
    }
    a:hover {
        color: red;
    }
    a:active {
        color: yellow;
    }
    .hlist {
        /* (en) containing floats in IE */
        /* (de) Einfassen der Floats im IE */
        width: 100%;
        overflow: hidden;
        /* (en|de) Bugfix:IE - collapsing horizontal margins */
        position: relative;
        line-height: 1em;
        /*background: #459;*/
    }
    .hlist ul {
        margin: 0;
        padding: 0.5em 1.5em;
        /* (en|de) Bugfix:IE - Doubled Float Margin Bug */
        display: inline;
        float: left; /* LTR */
    }
    .hlist ul li {
        /* (en|de) Bugfix:IE - Doubled Float Margin Bug */
        display: inline;
        float: left; /* LTR */
        font-size: 1.0em;
        line-height: 1em;
        list-style-type: none;
        margin: 0 .25em 0 0;
        padding: 0;
    }
    .hlist ul li a,
    .hlist ul li strong {
        background: transparent;
        color: #aaa;
        display: block;
        font-size: 1em;
        line-height: 2em;
        padding: 0 0.5em;
        font-weight: normal;
        text-decoration: none;
        /*text-shadow: 0 1px 1px rgba(0,0,0,.5);*/
        width: auto;
    }
    .hlist ul li a:focus,
    .hlist ul li a:hover,
    .hlist ul li a:active {
        color: #ccc;
        background: #666;
        background: #678;
        -webkit-border-radius: 0.2em;
        -moz-border-radius: 0.2em;
        border-radius: 0.2em;
        text-decoration: none;
        outline: 0 none

;
    }
    .hlist ul li.active {
        background: #666;
        background: #678;
        -webkit-border-radius: 0.2em;
        -moz-border-radius: 0.2em;
        border-radius: 0.2em;
        color: #fff;
    }
    .hlist ul li.active strong,
    .hlist ul li.active a:focus,
    .hlist ul li.active a:hover,
    .hlist ul li.active a:active {
        background: transparent;
        color: #fff;
        text-decoration: none;
    }
    strong {
        font-weight: bold;
    }
    table {
        width: 100%;
        border-collapse: collapse;
        margin: 1.3571em 0 0 0;
    }
    table caption {
        font-variant: small-caps;
    }
    th,
    td {
        line-height: 1.5em;
        vertical-align: top;
        padding: 2px 2px;
    }
    th *:first-child,
    td *:first-child {
        margin-top: 0;
    }
    thead tr th.caption {
        background-color: white;
        color: #e16e22;
        font-weight: bold;
        font-size: 16px;
        text-align: left;
        border-top: 1px double #ccc;
        padding-top: 20px;
    }
    thead tr th {
        background-color: #a6a6a6;
        color: white;
        text-align: left;
        font-weight: bold;
        border-bottom: 1px double #ccc;
        padding: 5px 2px 5px 2px;
    }
    thead tr th.center {
        text-align: center;
    }
    thead tr th:first-child,
    tbody tr td:first-child,
    thead tr th:last-child,
    tbody tr td:last-child {
        text-align: left;
    }
    tbody tr th {
        text-align: left;
        border-top: 1px double #ccc;
        text-align: left;
    }
    tbody tr td {
        text-align: left;
        border-top: 1px double #ccc;
        padding: 5px 5px 5px 5px;
    }
    tbody tr td.center {
        text-align: center;
    }
    tbody tr.F {
        border-top: 1pt double #eee !important;
        background-color: #eee;
        font-size: 24px;
    }
    tbody tr.lrborder,
    thead tr.lrborder {
        border-left: 1px double #ccc;
        border-right: 1px double #ccc;
    }
    div.vcard {
        border-radius: 0 0 4px 4px;
        /* margin-bottom: 16px !important; */
        background-color: #fff;
        color: rgba(0, 0, 0, .87);
        border-color: #fff;
        display: block;
        max-width: 100%;
        outline: none;
        text-decoration: none;
        -webkit-transition-property: opacity, -webkit-box-shadow;
        transition-property: opacity, -webkit-box-shadow;
        transition-property: box-shadow, opacity;
        transition-property: box-shadow, opacity, -webkit-box-shadow;
        overflow-wrap: break-word;
        position: relative;
        white-space: normal;
        -webkit-transition: -webkit-box-shadow .28s cubic-bezier(.4, 0, .2, 1);
        transition: -webkit-box-shadow .28s cubic-bezier(.4, 0, .2, 1);
        transition: box-shadow .28s cubic-bezier(.4, 0, .2, 1);
        transition: box-shadow .28s cubic-bezier(.4, 0, .2, 1), -webkit-box-shadow .28s cubic-bezier(.4, 0, .2, 1);
        will-change: box-shadow;
        -webkit-box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
        box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12)
    }
    div .vcard-header {
        background-color: #f0ebe4 !important;
        border-color: #f0ebe4 !important;
        padding: 10px 20px 10px 20px;
        font-weight: 400;
        line-height: 1.375rem;
        letter-spacing: .0071428571em;
        font-weight: 700 !important;
        font-size: 1.7em;
        color: #e16e22;
        caret-color: #e16e22;
    }
    div vcard-text {
        padding: 0 20px 7px 20px;
    }
    div .vcard-footer {
            border-radius: 4px 4px 0 0;
    }
    /* vcard extra header colors */
    div.light-green {
        background-color: #6BDBC2 !important;
    }
    div.light-blue {
        background-color: #84B8DF !important;
    }
    div.light-orange {
        background-color: #F8D255 !important;
    }
    div.light-red {
        background-color: #e48a78 !important;
    }
    .dot {
        height: 16px;
        width: 16px;
        background-color: #BBBBBB;
        border-radius: 50%;
        display: inline-block;
     }
     .active {
         background-color: rgb(165, 214, 167)
     }
     .pending {
         background-color: rgb(255, 183, 77)
     }
     .draft {
         background-color: rgb(255, 213, 79)
     }
     .retired {
         background-color: rgb(144, 202, 249)
     }
     .cancelled {
         background-color: rgb(144, 202, 249)
     }
     .material-icons {
        font-family: 'Material Icons';
        font-weight: normal;
        font-style: normal;
        font-size: 24px;  /* Preferred icon size */
        display: inline-block;
        line-height: 1;
        text-transform: none;
        letter-spacing: normal;
        word-wrap: normal;
        white-space: nowrap;
        direction: ltr;
      
        /* Support for all WebKit browsers. */
        -webkit-font-smoothing: antialiased;
        /* Support for Safari and Chrome. */
        text-rendering: optimizeLegibility;
      
        /* Support for Firefox. */
        -moz-osx-font-smoothing: grayscale;
      
        /* Support for IE. */
        font-feature-settings: 'liga';
      }
     .material-icons.orange600 {
        color: #FB8C00;
     }
     .material-icons.filter600 {
        color: #FCAE4C;
        line-height: 0.9;
     }
     .material-icons.grey {
        color: #BBBBBB;
     }
     .pl-3 {
        padding-left: 3px;
     }
     .pl-7 {
        padding-left: 7px;
     }
     .pr-12 {
        padding-right: 12px !important;
        white-space: nowrap;
     }
     .px-12 {
        padding-left: 12px !important;
        padding-right: 12px !important;
        white-space: nowrap;
     }
     .px-24 {
        padding-left: 24px !important;
        padding-right: 24px !important;
        white-space: nowrap;
     }
     [data-md-tooltip] {
        position: relative;
     }
     [data-md-tooltip]:before {
          content: attr(data-md-tooltip);
          position: absolute;
          bottom: -35px;
          left: 50%;
          padding: 4px 8px;
          transform: translateX(-50%) scale(0);
          transition: transform 0.3s ease-in-out;
          transform-origin: top;
          background: #616161e6;
          color: white;
          border-radius: 2px;
          font-size: 12px;
          font-family: Roboto,sans-serif;
          font-weight: 400;
          z-index: 1;
      }
      [data-md-tooltip]:hover:before {
        transform: translateX(-50%) scale(1); 
      }
}
